.dashboard {
  color: #fff;

  .main {
    display: flex;
    padding: 72px 120px;

    .userCard {
      width: 260px;
      position: relative;
      display: flex;
      flex-direction: column;

      .avatarWrapper {
        position: absolute;
        top: -130px;
        left: 0;
        img {
          width: 108px;
          height: 108px;
          border: 1px solid #fff;
          border-radius: 50%;
          overflow: hidden;
        }
      }

      .followers {
        border-top: 1px solid #e6e8ec;
        border-bottom: 1px solid #e6e8ec;
        padding: 16px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .followerChunk {
          display: flex;
          flex-direction: column;
          align-items: center;
          .followerCount {
            color: #fff;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
          }

          .followerTitle {
            color: #93989a;
            font-size: 14px;
            line-height: 21px;
          }
        }
      }
    }

    .myTabs {
      display: flex;
      flex-direction: column;
      margin-left: 53px;
      min-width: 678px;
      :global .ant-tabs {
        margin-bottom: 34px;
        &-tab {
          &-btn {
            font-size: 24px;
            font-weight: 700;
            color: #fff;
          }
        }

        &-tab + .ant-tabs-tab {
          margin-left: 60px;
        }

        &-tab-active {
          .ant-tabs-tab-btn {
            color: transparent;
            background: linear-gradient(
              117.55deg,
              #1e50ff -3.37%,
              #00dfb7 105.51%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        .ant-tabs-ink-bar {
          background: linear-gradient(
            117.55deg,
            #1e50ff -3.37%,
            #00dfb7 105.51%
          );
        }
      }

      .linearButton {
        border-radius: 16px;
        border: none;
        font-size: 20px;
        line-height: 30px;
        color: #fff;
        background: linear-gradient(117.55deg, #1e50ff -3.37%, #00dfb7 105.51%);
        width: 260px;
        height: 40px;
        &:hover {
          color: #fff;
        }
      }

      .soulCards {
        margin-top: 24px;
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr;
        img {
          width: 327px;
          height: 200px;
          border-radius: 50%;
        }
      }
    }
  }
}
