.dashboard {
  color: #fff;

  .main {
    display: flex;
    padding: 72px 120px;

    .userCard {
      width: 260px;
      position: relative;
      display: flex;
      flex-direction: column;

      .avatarWrapper {
        position: absolute;
        top: -130px;
        left: 0;
        img {
          width: 108px;
          height: 108px;
          border: 1px solid #fff;
          border-radius: 50%;
          overflow: hidden;
        }
      }

      .followers {
        border-top: 1px solid #e6e8ec;
        border-bottom: 1px solid #e6e8ec;
        padding: 16px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .followerChunk {
          display: flex;
          flex-direction: column;
          align-items: center;
          .followerCount {
            color: #fff;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
          }

          .followerTitle {
            color: #93989a;
            font-size: 14px;
            line-height: 21px;
          }
        }
      }
    }

    .myTabs {
      display: flex;
      flex-direction: column;
      margin-left: 53px;
      min-width: 678px;
      :global .ant-tabs {
        margin-bottom: 34px;
        &-tab {
          &-btn {
            font-size: 24px;
            font-weight: 700;
            color: #fff;
          }
        }

        &-tab + .ant-tabs-tab {
          margin-left: 60px;
        }

        &-tab-active {
          .ant-tabs-tab-btn {
            color: transparent;
            background: linear-gradient(
              117.55deg,
              #1e50ff -3.37%,
              #00dfb7 105.51%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        .ant-tabs-ink-bar {
          background: linear-gradient(
            117.55deg,
            #1e50ff -3.37%,
            #00dfb7 105.51%
          );
        }
      }

      .linearButton {
        border-radius: 16px;
        border: none;
        font-size: 20px;
        line-height: 30px;
        color: #fff;
        background: linear-gradient(117.55deg, #1e50ff -3.37%, #00dfb7 105.51%);
        width: 260px;
        height: 40px;
        &:hover {
          color: #fff;
        }
      }

      .soulCards {
        margin-top: 24px;
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr;
        .soulCardImg {
          width: 327px;
          height: 200px;
          border-radius: 12px;
        }
      }

      .hubItem {
        margin-right: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 277px;
        background: radial-gradient(
          151.95% 463.58% at -44.29% -62.34%,
          rgba(255, 255, 255, 0.3) 0%,
          rgba(255, 255, 255, 0) 100%
        );
        backdrop-filter: blur(37px);
        border-radius: 16px;
        padding: 20px;
        border: 2px solid #398dee;

        .hubName {
          margin: 20px 0;
        }

        .hubDetail {
          color: #858584;
        }
      }
    }

    .mintCardPreview {
      position: relative;
      &LeftTop {
        position: absolute;
        left: 23px;
        top: 27px;
        display: flex;
        align-items: center;
        .cornerLogo {
          width: 16px;
          height: 16px;
          object-fit: cover;
        }
      }

      &RightTop {
        position: absolute;
        top: 20px;
        right: 23px;
        display: flex;
        align-items: center;
        line-height: 1;
      }

      &LeftBottom {
        position: absolute;
        left: 23px;
        bottom: 24px;
        display: flex;
        align-items: flex-end;
      }

      &RightBottom {
        font-size: 14px;
        color: #fff;
        position: absolute;
        right: 23px;
        bottom: 24px;
      }
    }

    .projectItem {
      width: 282px;
      display: flex;
      flex-direction: column;
      border-radius: 16px;
      padding: 20px;
      background: #373963;
      margin-right: 22px;
      margin-bottom: 22px;
      .projectCover {
        width: 242px;
        height: 242px;
        object-fit: cover;
        border-radius: 19px;
      }

      .projectName {
        line-height: 27px;
        font-size: 18px;
        font-weight: 600;
        margin: 16px 0;
      }
    }
  }
}
