.header {
  width: 100%;
  height: 48px;
  background: #001529;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  color: #fff;
  
  :global .anticon {
    color: #fff;
    width: 13px;
    height: 13px;
    margin-right: 25px;
    cursor: pointer;
  }
}