.purchaseDialog {
  :global .ant-modal-content {
    background: #252842;
    border: 1px solid rgba(101, 103, 107, 0.5);
    border-radius: 20px;
    padding: 36px 56px;
  }

  .approveButton {
    width: 420px;
    height: 56px;
    border-radius: 16px;
    border: none;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    background: linear-gradient(117.55deg, #1e50ff -3.37%, #00dfb7 105.51%);

    &:hover {
      color: #fff;
    }

    &:disabled {
      background: #dadada;
    }
  }

  :global {
    :local(.approveButton) {
      &.ant-btn-loading {
        opacity: 1;
        background: #dadada;
        color: #fff;
      }
    }
  }
}

.purchaseSuccessModal {
  :global .ant-modal-content {
    background: #252842;
    box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.4);
    border-radius: 16px;

    .ant-modal-confirm-body {
      justify-content: center;
      flex-direction: column;

      .anticon-check-circle {
        font-size: 80px;
        position: relative;
        margin-bottom: 46px;
        margin-top: 67px;
      }

      .anticon-check-circle::before {
        content: "";
        position: absolute;
        display: block;
        background: #42a846;
        opacity: 0.15;
        width: 110px;
        height: 110px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
      }
    }
  }
}

.closeButton.closeButton.closeButton.closeButton {
  border-radius: 16px;
  border: none;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  background: linear-gradient(117.55deg, #1e50ff -3.37%, #00dfb7 105.51%);

  &:hover {
    color: #fff;
  }
}
