.createEvent {
  padding: 24px;

  .createEventBoard {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 28px 0;
    :global .ant-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .ant-form-item {
        width: 100%;
        .ant-form-item-control-input {
          width: 400px;
        }
      }

      .ant-form-item-label,.ant-form-item-control {
        width: 50%;
      }

    }
  }
}