.currentPanel {
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.85);
  padding: 22px 24px;
  font-weight: 700;
  background: #fff;
}
